body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

td,th {
    width:150px;
    padding:10px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}
thead {
    font-size: 20px;
    font-weight: 700;
}

img {
    float:left;
    width: 120px;
    height: 80px;
}
label {
    display:inline-block;
    min-width: 100px;
}
form {
    position: absolute;
    top: 30px;
    right: 200px;
    margin-top: 50px;
}

select {

    width:175px;
    height: 25px;
}

table {
    margin:20px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    text-align:center;
}

#getTime {
    position: fixed;
    right: 50px;
    top: 50px;
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
